body {
  background-color: black;
  background-repeat: no-repeat; 
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
A:active, A:hover, A:visited {
	opacity: 1 !important;
	text-decoration: none;
}

.loginbox {
  position: absolute;
  top: 30vh;
  left: 40vw;
  width: 22vw;
  height: 30vh;
}

.logintag {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: white;
}

.username, .password {
  width: 20vw;
  max-width: 300px;
  height: 40px;
}

.submit {
  border: transparent;
  background-color: white;
  color: gray;
  font-weight: bold;
  border-radius: 0.4em;
}

.profile {
  height: 80vh;
  margin: 60px;
  background-color: #F2F3F4;
  opacity: 0.9;
 border-radius: 1em;
}

.leftpart {
  background-color: #C3C8CD;
  width: 30%;
  height: 100%;
  border-radius: inherit;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  float: left;
}

.rightpart {
  float: left;
  background-color: #868F98;
  width: 70%;
  height: 100%;
  border-radius: inherit;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.imageholder {
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.titletext {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-weight: bold;
  color: black;
  font-size: 2.6vw;
}

.section {
  font-size: x-large;
  margin-left: 10%;
  margin-top: 5%;
}

.section-title {
  font-size: 2.6vw;
  margin-bottom: 2vh;
  color: #f6f7f9;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: 1.6vw;
}

.item {
  margin-bottom: 2vh;
}

.name {
  margin-right: 20vw;
  float: left;
}
label:hover {
  color: #E74C3C;
}

.proimage {
  width: 17vw;
}

.linetext {
  border-radius: 0.5em;
  min-width: 200px;
}

.textstuff {
  font-size: 1.7vw;
  color: white;
}

.click {
  color: rgb(95,174,182);
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  background-color: white;
}


@media only screen and (max-width: 425px) {
  .leftpart {
    width: 100%;
    height: 30%;
    border-radius: inherit;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .rightpart {
    
    width: 100%;
    height: 70%;
    border-radius: inherit;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }
  .imageholder {
    border-radius: 1em;
    margin-top: 4vh;
    justify-content: center;
  }

  .titletext {
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    margin-top: 2vh;
    font-size: 4.5vw;
  }
  .section-title {
    font-size: 4vw;
  }
  .label {
    font-size: 3vw;
    vertical-align: top;
  }
  .textstuff {
    font-size: 2.8vw;
  }
}
