body {
  background-color: #141414 !important;
  background-repeat: no-repeat !important; 
  background-size: cover !important;
  
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
A:active, A:hover, A:visited {
	opacity: 1 !important;
	text-decoration: none;
}

.dashboard {
  display: flex;
  justify-content: flex-end;
  padding-top: 2vh;
  padding-right: 2vh;
  flex-direction: column;
  align-items: flex-start;
}

.superselector {
  margin-top: 10px;
}

.selectionsection {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  margin: 20px;
  background-color: darkgray;
  height: 40vh;
  border-radius: 2em;
}

.box {
  background-color: #E74C3C;
  max-width: 1000px;
  max-height: 500px;
  width: 70%;
  height: 95%;
  color: #141414;
}

.selector {
  height: 20px;
  width: 50px;
  text-align: center;
}

.mapimage {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  margin-left: 10px;
}

.top {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;  
  width: 100%;
}

.svgsection {
  margin-left: 10px;
}

#main_canvas {
  width: 1000px; 
  height: 500px; 
  border: gray solid 2px;
}

.logintag {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.greeting {
  margin-bottom: 60px;
  font-weight: 800;
  height: 100px;
}

.greet1, .greet2 {
  color: #C3C8CD;
}

.username, .password {
  width: 20vw;
  max-width: 300px;
  height: 40px;
}

.submit {
  border: transparent;
  background-color: white;
  color: gray;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 30px;
  width: 100%;
  margin-top: 20px;
  height: 35px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  max-width: 160vh;
  width: 85vw;
  height: 80vh;
  margin-top: 5vh;
  background-color: #F2F3F4;
  opacity: 0.9;
  border-radius: 1em;
}

.leftpart {
  background-color: #C3C8CD;
  width: 30%;
  height: 100%;
  border-radius: inherit;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  float: left;
}

.rightpart {
  float: left;
  background-color: #868F98;
  width: 70%;
  height: 100%;
  border-radius: inherit;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.imageholder {
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.titletext {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-weight: bold;
  color: black;
  font-size: 2.6vw;
}

.section {
  font-size: x-large;
  margin-left: 10%;
  margin-top: 5%;
}

.section-title {
  font-size: 2.6vw;
  margin-bottom: 2vh;
  color: #f6f7f9;
  font-weight: bold;
}

.label {
  font-weight: bold;
  font-size: 1.6vw;
}

.item {
  margin-bottom: 2vh;
}

.name {
  margin-right: 20vw;
  float: left;
}
label:hover {
  color: #E74C3C;
}

.proimage {
  max-width: 150px;
  width: 17vw;
}

input:focus{
  outline: none;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none;
}

.contain {
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  width: 100vw;
}

.linetext {
  min-width: 200px;
  background-color: #141414;
  box-shadow: none;
  color: white;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
}

.textstuff {
  font-size: 1.7vw;
  color: white;
}

.click {
  color: black;
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  background-color: white;
}


@media only screen and (max-width: 425px) {
  .leftpart {
    width: 100%;
    height: 30%;
    border-radius: inherit;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .rightpart {
    width: 100%;
    height: 70%;
    border-radius: inherit;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }
  .imageholder {
    border-radius: 1em;
    margin-top: 4vh;
    justify-content: center;
  }

  .titletext {
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    margin-top: 2vh;
    font-size: 4.5vw;
  }
  .section-title {
    font-size: 4vw;
  }
  .label {
    font-size: 3vw;
    vertical-align: top;
  }
  .textstuff {
    font-size: 2.8vw;
  }
}
